header{
    width:100%;
    height: 7%;
    background-color: rgb(35, 35, 35);
    margin: 0;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
main{
    width: 100%;
    height: 93%;
    background-color: rgb(30, 30, 30);
    margin: 0;
    padding: 3px 0px;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
  
  .logo{
   
    width: 20%;
    height: 85%;
    align-items: center;
    display: flex;
    flex-direction: row;
   gap: 3px;
  }
  .center{
    background-color: rgb(35, 35, 35);
    width: 45%;
    height: 85%;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  .profile{
    background-color: rgb(35, 35, 35);
    width: 18%;
    height: 85%;
    align-items: center;
    display: flex;
   justify-content: flex-end;
    border-radius: 20px;
    gap: 3px;

  }
  
  .menu{
    background-color: rgb(30, 30, 30);
    width: 20%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
  ;
  }
  .home{
    background-color: rgb(35, 35, 35);
    width: 45%;
    height: 100%;
   border-radius: 1%;

  }
  .right{
    background-color: rgb(30, 30, 30);
    width: 18%;
    height: 90%;
  }

 


  
  #search{
    background-color: gray;
    height: 90%;
    width: 75%;
    border-radius: 20px;
    align-items: center; 
    display: flex;
    font-size: 9px;
  }
  #searchlogo{
    height: 20px;
    width: 20px; 
  }
  #fblogo{
    border-radius: 100px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center; 
        justify-content: flex-start;
        margin: 5px;
  }
  #logo1{
    height: 20px;
    width: 20px;
  }
  #logo2{
    height: 20px;
    width: 20px;
  
   border-radius: 50%;
   font-size: 9px;
   margin: 3px;
  }
  .logo3{
    display: flex;
    align-items: center;
 
    color: aliceblue;
  }
  
.menu2{
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
  row-gap: 7px;
  display: flex;
  flex-direction: column;
 background-color: rgb(30, 30, 30);
}
p{
  margin-bottom: 0%;
    display: flex;
    margin: 0%;
    align-items: center;
    font-size: 9px;
}
.menu1{
  row-gap: 7px;
  display: flex;
  flex-direction: column;
 background-color: rgb(30, 30, 30);
}
.menu3{
  background-color: rgb(35, 35, 35);
}

#top{
  background-color: rgb(35, 35, 35);


}
#text{
  display: flex;
 flex-direction: column;
  color: aliceblue;
justify-content: center;
}
#middle{
  height: 78vh;
  width: 100%;
}

.top{
  display: flex;
  flex-direction: row;
}
h5{
  margin: 0%;
}
#logo12{
  height: 9px;
  width: 9px;

 border-radius: 50%;
 font-size: 9px;
 margin: 0px;

}
#logo13{
  height: 20px;
  width: 20px;
display: flex;
 border-radius: 50%;
 font-size: 9px;
 margin: 0px;
justify-content: flex-end;
align-items: center;
}
#img1{
  width: 65%;
  height: 200px;
}
#img2{
  width: 35%;
  height: 20vh;
  display: flex;
  flex-direction: column;
}
#logo14{
  height: 15px;
  width: 15px;
  font-size: 9px;
 margin: 0%;
 }
.logo14{
  display: flex;
  justify-content: space-around;

 }
 #logo15{
  height: 20px;
  width: 20px;
  font-size: 9px;
  border-radius: 20%;
  display: flex;
  flex-wrap: wrap;
 }
 #font{
  font-size: 15px;
  color: aliceblue;
  margin-bottom: 15px;
 }
 .logo15{
  display: flex;
  align-items: center;

  color: aliceblue;
  margin-bottom: 10px;
  gap: 10px;
 }
 #right1{
  border-bottom: solid gray 1px;
 }
