.top{ 
    width: 100%;
    height: 10vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    align-items: center;
   
}
body{ 
    margin: 0%;
}
.container{
    display: flex;
}
.left{ 
    height: 90vh;
    width: 15%;
    background-color: rgb(154, 109, 196);
   display: flex;
   flex-direction: column;
}
.right{
    height: 80vh;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}
.youtube{
    width: 30%;
    height: 30%;
  margin-left: 18px;
}


#under{
    height: 80vh;
    width: 100%;
    background-color: rgb(24, 98, 77);
    margin: 0%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#above{
    height:5vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
._1{ 
    background-color: rgb(182, 182, 182);
    height: 40%;
    width: 25%;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}
._1_1{
    display: flex;
   justify-content: space-evenly;
   align-items: center;
    background-color: yellow;
    margin: 0% 5% 5% 5% ;
}
.img1{
    margin: 5%;
  background-color: brown;
   height: 60%;
   width: 90%;
border-radius: 10px;
}
.img1_1{
    margin: 5%;
    background-color: aquamarine;
    height: 20px;
    width: 20px;
    align-items: start;
   
}
.description1_1{ 
    background-color: antiquewhite;
 
    height: 60%;
    width: 60%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.description2{
    background-color: antiquewhite;
    height: 60%;
   width: 60%; 
   margin: 5%;

}
.icon{
    display: flex;
    flex-direction: row;
   align-items: flex-start;
    padding: 10%;
    height: 5%;
    width: 100%;
    flex-wrap: wrap;
}
.top {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;

  }
  .top :hover{
    color: aliceblue;
  }
 p{
    
    color: black;
   font-size: small;
    padding: 6px;
 }
 #above p:hover{
    background-color: black;
    color: white;
 }
#p1{
    background-color:white;
}
#p2{
    color: rgb(68, 68, 213);
}
.signin{
   justify-content: center;
}
.search{
    height: 25px;
    width: 50px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    justify-content: center;
}
.img1_2{
    margin: 5%;
    background-color: aquamarine;
    height: 17px;
    width: 17px;
    align-items: start;
}
._1_3{
    height: 50px;
    width: 60vw;
    display: flex;
    align-items: center;
    background-color: rgb(39, 51, 61);
    justify-content: center;
}